.App {
  height: 100vh;
}

.switch{
  height: 90%;
  box-sizing: border-box;
}
.Left{
  float:left;
}


.Right{
  float:right;
}

nav{
  min-width: fit-content;
  height: 10%;
  background-color: #a5b34a;
}

.logIn, .logOut{
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.3em 0.6em;
  color: #000000;
  background-color: #e6eae2;
  font-size: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  outline: none;
}

.logIn{
  margin-left: 2em;
}

.logOut{
  margin-right: 2em;
}

.logged-in-name{
  color: darkslateblue;
}

