.App {
  height: 100vh;
}

.switch{
  height: 95%;
  box-sizing: border-box;
}
.Left{
  float:left;
}

.Right{
  float:right;
}

nav{
  min-width: fit-content;
  height: 5%;
  background-color: #a5b34a;
}

.logIn, .logOut{
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.3em 0.6em;
  color: #fafffb;
  font-size: 1em;
  margin-top: 0.2em;
  box-sizing: border-box;
  outline: none;
}

.logged-in-name{
  color: darkslateblue;
}

