.TextLabel{
    display: inline-block;
    width: 140px;
    text-align: left;
    padding-bottom: 0.5em;
    font-size:1.3em;
    color: #000000;

}

input.TextInput{
    font-size:1em;
    background-color: azure;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
}
