.message-text{
    background-color: #8c88df;
    padding: 0.3em 0.5em;
    border-radius:5px;
    border: transparent;
    font-size: 1.4em;
    word-break: break-word;
    display:inline-block;
}

.me{
    background-color: #cedf89;
}

.DateOfMessage{
    font-size: 0.5em;
}

.MessageLi{
    padding-left:1em;
    padding-right:1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.UserName{
    font-size:0.5em;
    color: #fff9ff;
}

.UserName, .DateOfMessage, .message-text{
    text-align: left;
}